body {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(223, 189, 194);
}

.left {
    margin: 3% 0% 0% 5%;
    height: 85vh;
    width: 5vw;
    background-color: rgb(171, 109, 109);
}

.ltop {
    background-color: blueviolet;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ltop svg {
    display: flex;
    height: 40%;
    width: 40%;
}

.lmain {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.lmain i {
    font-size: 200%;
}

.lbuttom {
    background-color: white;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.middle {
    height: 85%;
    width: 5%;
    margin-top: 2%;
}

.image {
    width: 32vw;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 30px 15px gray;
    background-image: url(./pic1.jpeg);
    /* background-image: url(./pic2.JPG); */
    background-position: auto;
    background-size: 100% 100%;
    z-index: 1000;
    position: absolute;
}

.icon {
    font-size: 188%;
    padding-top: 100%;
}

.right {
    width: 57vw;
    height: 82vh;
    background-color: white;
    margin: 3% 8% 69% 27%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 2%;
    overflow: scroll;
}

.para {
    font-size: larger;
}

.mini-box {
    height: 30%;
    display: flex;
}

.box {
    width: 50%;
    /* padding-right: 1%; */
}

.box i {
    font-size: xx-large;
    color: red;
}
.box img{
    color: blue;
}